# Backend
backend/**pycache**/
backend/venv/
backend/.env
backend/*.log
backend/*.pot
backend/*.pyc
backend/__pycache__/
backend/.Python
backend/build/
backend/.DS_Store

# Frontend
frontend/build/
frontend/.DS_Store
frontend/*.pem
frontend/logs
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.cache

# Unit Tests
unit_tests/.env
unit_tests/.env.test
unit_tests/**pycache**/
unit_tests/__pycache__/
unit_tests/.Python
unit_tests/.DS_Store
unit_tests/.cache

# PM2 configs
ecosystem.config.js
start_server.sh
.venv/*