# Backend
backend/**pycache**/
backend/venv/
backend/.env
backend/*.log
backend/*.pot
backend/*.pyc
backend/__pycache__/
backend/local_settings.py
backend/db.sqlite3
backend/db.sqlite3-journal
backend/media
backend/.Python
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/wheels/
backend/share/python-wheels/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg
backend/MANIFEST

# Frontend
frontend/node_modules/
frontend/.pnp/
frontend/**pnp.js
frontend/coverage/
frontend/build/
frontend/.next/
frontend/out/
frontend/next-env.d.ts
frontend/.vercel/
frontend/.idea/
frontend/*.iml
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
frontend/pids
frontend/logs
frontend/lib-cov
frontend/lcov.info
frontend/.nyc_output
frontend/.grunt
frontend/bower_components
frontend/.lock-wscript
frontend/build/Release
frontend/node_modules/
frontend/jspm_packages/
frontend/typings/
frontend/.npm
frontend/.eslintcache
frontend/.node_repl_history
frontend/*.tgz
frontend/.yarn-integrity
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.cache
frontend/.vuepress/dist
frontend/.serverless/
frontend/.fusebox/
frontend/.dynamodb/
frontend/.tern-port
frontend/.vscode-test
frontend/.yarn/cache
frontend/.yarn/unplugged
frontend/.yarn/build-state.yml
frontend/.yarn/install-state.gz
frontend/.pnp.*